html {
  box-sizing: border-box; 
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  width: 100%;
  height: 100%;
  background: #ccc url("../images/bg.jpg");
  background-size: cover;
  font-family: sans-serif;
}

#mainContainer {
  width: 1000px;
  margin: auto;
  position: relative;
  z-index: 1;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

.socialContainer {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.socialContainer p {
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  position: relative;
  right: 50px;
  margin: 10px 0 0 0;
}

.socialMedia {
  display: flex;
  list-style: none;
  margin-top: 5px;
}

.socialMedia li {
  margin: 0 0 0 10px;
  border-bottom: 4px solid #bbb;
}

.socialMedia i {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  width: 240px;
  height: 45px;
  line-height: 45px;
  background: #B4292E;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-bottom: 4px solid #bbb;
}

.nav li:before, .nav li:after {
  content: "\2014";
  margin: 0 12px;
}

.slideShow {
  margin-top: 15px;
}


.bgImg {
  background: #ccc url("../images/top-image.png");
  width: 100%;
  height: 360px;
  border: 10px solid white;
  background-position: 30% 25%;
  position: relative;
  z-index: 2;
}

.overLapImg {
  position: relative;
  top: 60px;
  left: 30px;
}

.slideBtns {
  width: 10%;
  margin: auto;
  margin-top: 30px;
}

.slideBtns input {
  margin-right: 10px;
}

.articles {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.articles div {
  width: 325px;
  height: 330px;
  background: #FDFDFD;
  overflow: auto;
  padding: 0 20px;
  border-bottom: 4px solid #ccc;
}

#sk8_container {
  width: 100%;
  margin:auto;
  margin-top: 20px;
}

#sk8_container:after {
  content:"";
  display:block;
  clear:both;
}

.skatersImg {
  position:relative;
}

.skatersImg div {
  color: white;
  width: 325px;
  height: 250px;
  line-height: 40px;
  padding-top: 90px;
  text-align: center;
  float: left;
  border: 2px solid white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.skatersImg div:first-child {
  background-image: url("../images/sk8er-4.png");
  background-position: 80% 10%;
  margin-right: 13px;
}

.skatersImg div:nth-child(2) {
  background-image: url("../images/sk8er-3.png");
  background-size: 325px 250px;
  margin-right: 13px;
}

.skatersImg div:nth-child(3) {
  background-image: url("../images/sk8er-1.png");
  clear: left;
  width: 663px;
  margin-right: 12px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: 665px 250px;
  padding-top: 110px;
  font-size: 40px;
}

.skatersImg div:nth-child(4) {
  background-image: url("../images/sk8er-2.png");
  background-repeat: no-repeat;
  background-size: 500px 520px;
  background-position: 100% 10%;
  height: 510px;
  line-height: 50px;
  margin-top: -250px;
  font-size: 40px;
  padding-top: 220px; 
}



